@keyframes refresh {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.refresh {
  animation: 1s refresh;
}
